@import "./variables.scss";
body {
    background-color: $bodyColor;
    margin: 0;
  }
  h1, h2, ul, li {
    font-family: sans-serif;
  }
  p {
    font-size: 15px;
    font-family: sans-serif;
  }
  .headerInfo {
    background-color: $headerColor;
    padding: 1px;
  
  }
  .headerInfo p {
    color: $writeColor;
  }
  .header li {
    display: inline;
    list-style-type: none;
    float: right;
  }
  .header {
    background-color: $bodyColor;
    padding: 0;
  }
  .header li a {
    color: $writeColor;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
  }
  .content {
    color: $writeColor;
    background-color: $bodyColor;
    padding: 80px;
  }
  .content h2 {
    padding: 0;
    margin: 0;
  }
  .content li {
    margin-bottom: 10px;
  }
  .homeContact {
    padding-bottom: 50px;
    padding-left: 50px;
    margin:0 
    auto;
  }
  .divLeft {
    padding-left: 20px;
    padding-top: 40px;
    width: 300px; height: 600px; 
    float:left;
  }
  .divRight{
    padding-top: 30px;
    padding-left: 170px;
    width: 660px; 
    height: 600px; 
    float:left; 
  }
  .vatCeheckInput{
    padding-left: 400px;
  }
  .CeheckInput{
    padding-left: 100px 
  }
  .buttonFrom {
    padding-top: 550px;
    padding-right: 80px 
  }
  .result {
    padding-left: 100px ;
    width: 600px;
    border-radius: 40px;
    margin:0 
    auto;
  }
  